.sidebar {
	width: 273px;
	height: calc(100vh - 32px);
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	margin-top: 0.926%;
	margin-bottom: 16px;
	margin-left: 15px;
	border: 1px solid #000;
	border-radius: 15px;
}
